.navbar {
  background: linear-gradient(269deg, #07a3f4, #80bff8, #e6eef4, #b0b2b3);
  background-size: 1600% 1600%;
  
  animation: AnimationName 60s ease infinite;
  
  @keyframes AnimationName { 
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
}

.fa {
  background:#CB2027  
  
}