* {
  background: linear-gradient(270deg, #15785f, #141ce0, #8114e0, #e0149d, #e0af14, #ea6a02);
  background-size: 1200% 1200%;
  
  animation: AnimationName 28s ease infinite;
  
  @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.fa {
  background:#CB2027  
  
}